In [8]:
from sklearn.datasets import load_iris
import pandas as pd
import requests
import json

url = 'http://localhost:8000/display/'

Load example data.

In [2]:
data = load_iris()
X = data['data']
columns = data['feature_names']
df = pd.DataFrame(X, columns=columns)
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

Send data to flask app.

In [67]:
url = 'http://localhost:8000/predict/'
response = requests.post(url, data=json.dumps({'input':df.to_json()}), headers={'Content-Type':'application/json'})
result = pd.read_json(response.json()['output'])
result.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),y_pred
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
10,5.4,3.7,1.5,0.2,0
100,6.3,3.3,6.0,2.5,2
101,5.8,2.7,5.1,1.9,2

In [71]:
url = 'http://localhost:8000/predict_proba/'
response = requests.post(url, data=json.dumps({'input':df.to_json()}), headers={'Content-Type':'application/json'})
result = pd.read_json(response.json()['output'])
result.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),y_prob_0,y_prob_1,y_prob_2
0,5.1,3.5,1.4,0.2,1.0,0.0,0.0
1,4.9,3.0,1.4,0.2,1.0,0.0,0.0
10,5.4,3.7,1.5,0.2,1.0,0.0,0.0
100,6.3,3.3,6.0,2.5,0.0,0.0,1.0
101,5.8,2.7,5.1,1.9,0.0,0.0,1.0